<a href="https://colab.research.google.com/github/ucfilho/Basic_Python/blob/master/Basic_Python_part_003_mar_04_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

 You can think of pandas as an extremely powerful version of Excel, with a lot more features.
 
 DataFrames are the workhorse of pandas and are directly inspired by the R programming language

In [0]:
import numpy as np
import pandas as pd

In [0]:
Labels = ['a','b','c']
Data = [10,20,30]
Array= np.array([10,20,30])
Dict = {'a':10,'b':20,'c':30}

In [3]:
DAT1=pd.Series(data=Data)
print(DAT1)
DAT2=pd.Series(data=Data,index=Labels)
print(DAT2)
DAT3=pd.Series(Dict)
print(DAT3)
DAT4 = pd.Series([1.0,2.0,3.0,4.0],index = ['a', 'b','c', 'd']) 
print(DAT4)

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [4]:
DAT=DAT2+DAT4
print(DAT)

a    11.0
b    22.0
c    33.0
d     NaN
dtype: float64

In [5]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
print(df)

          W         X         Y         Z
A -0.916043 -0.527767  0.471378  0.602026
B  0.501247  0.308260 -1.787357  0.810372
C -1.078504 -1.002142  0.493555  1.677556
D -0.656924  0.897359 -0.352648  0.887906
E -1.151636 -1.172780  0.073029  1.383764

In [6]:
df['new'] = df['W'] + df['Y']
print(df)

          W         X         Y         Z       new
A -0.916043 -0.527767  0.471378  0.602026 -0.444665
B  0.501247  0.308260 -1.787357  0.810372 -1.286110
C -1.078504 -1.002142  0.493555  1.677556 -0.584949
D -0.656924  0.897359 -0.352648  0.887906 -1.009572
E -1.151636 -1.172780  0.073029  1.383764 -1.078607

In [7]:
df_new=df.drop('W',axis=1).copy()
print(df_new)

          X         Y         Z       new
A -0.527767  0.471378  0.602026 -0.444665
B  0.308260 -1.787357  0.810372 -1.286110
C -1.002142  0.493555  1.677556 -0.584949
D  0.897359 -0.352648  0.887906 -1.009572
E -1.172780  0.073029  1.383764 -1.078607

In [8]:
df_new=df.drop('E',axis=0).copy()
print(df_new)

          W         X         Y         Z       new
A -0.916043 -0.527767  0.471378  0.602026 -0.444665
B  0.501247  0.308260 -1.787357  0.810372 -1.286110
C -1.078504 -1.002142  0.493555  1.677556 -0.584949
D -0.656924  0.897359 -0.352648  0.887906 -1.009572

In [9]:
print(df.loc['A'])

W     -0.916043
X     -0.527767
Y      0.471378
Z      0.602026
new   -0.444665
Name: A, dtype: float64

In [10]:
print(df_new.iloc[3])

W     -0.656924
X      0.897359
Y     -0.352648
Z      0.887906
new   -1.009572
Name: D, dtype: float64